<h2><%=@meetup.name%></h2>
<p><%=@meetup.location%></p>
<p><%=@meetup.description%></p>

  <h2>Current meetup members:</h2>
  <ul><%@members.each do |member|%>
    <li><%=member.username%></li>
  <%end%></ul>

<%if current_user%>
  <%if current_user.signups.find_by meetup_id: @meetup.id%>
    <form action="/meetups/leave/<%=@meetup.id%>" method="post">
      <input type="submit" value="Leave Meetup"/>
    </form>

  <h2>Comments:</h2>
    <ul><%@comments.each do |comment|%>
      <li><h3><%=comment.user.username%> says:</h3>
      <p><%=comment.comment_body%></p></li>
    <%end%></ul>

  <%else%>
    <form action="/meetups/join/<%=@meetup.id%>" method="post">
      <input type="submit" value="Join Meetup"/>
    </form>
  <%end%>
<%end%>



